@model IEnumerable<OnlineMoviesBooking.Models.Models.TypesOfSeat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
}

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0"> Không có chức năng thêm và xóa loại ghế <a href="#" class="alert-link"></a>.</p>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        Loại ghế
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Tên
                        </th>
                        <th>
                            Giá
                        </th>
                        <th>
                            Số lượng ghế
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @item.Cost.ToString("#,###")
                            </td>
                            <td>
                                @item.Num
                            </td>
                                
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                                <a asp-action="Edit" asp-route-id="@item.Id">Thay đổi giá</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="~/DataTables/js/dataTables.bootstrap4.min.js"></script>

}