@model OnlineMoviesBooking.Models.ViewModels.BillViewModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}



<!-- ==========Movie-Section========== -->
<div class="movie-facility padding-bottom padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-widget checkout-contact">
                    <h5 class="title">Promo Code </h5>
                    <form class="checkout-contact-form">
                        <div class="form-group">
                            <input id="code-discount" type="text" placeholder="Nhập mã khuyến mãi tại đây...">
                            <p id="validation" style=" text-align: left; color: red; padding: 0.5rem;font-size: 14px;"></p>
                        </div>

                        <div class="form-group">
                            <a id="use-discount" class="custom-button back-button">Xác nhận</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <form id="timeout" asp-action="TimeOut" >
                    <input id="idshow" name="idshow" hidden value="@ViewBag.Show"/>
                    <div class="booking-summery bg-one">
                        <h4 class="title">chi tiết đơn</h4>
                        <ul>
                            <li>
                                <h6 class="subtitle">@Model.MovieName</h6>
                                <span class="info">@Model.Languages</span>
                            </li>
                            <li>
                                <h6 class="subtitle"><span>@Model.TheaterName</span><span>@Model.No</span></h6>
                                <div class="info">
                                    <span>@Model.TimeStart.ToString("dd-MM-yyyy HH:mm")</span>
                                    <span>vé</span>
                                </div>
                            <li>
                                <h6 class="subtitle mb-0"><span>giá vé</span><span>@Model.TotalPrice.ToString("#,###")</span></h6>
                            </li>
                        </ul>
                        <ul class="side-shape">
                            <li>
                                <h6 class="subtitle"><span>Khuyến mãi</span><span id="discount-price"></span></h6><!-- giá-->
                                <span class="info"><span id="discount-name"></span></span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="info">
                                    <span>Tổng </span>
                                    <span id="total-price">@Model.TotalPrice.ToString("#,###")</span>
                                </span>
                                <span class="info">
                                    <span>Điểm </span>
                                    <span id="point">@Model.Point.ToString()</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="proceed-area  text-center">
                        <h6 class="subtitle"><span>Amount Payable</span><span>$222</span></h6>
                        <a id="submit" href="/Movie/PaypalCheckout" class="custom-button back-button">Thanh toán</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ==========Movie-Section========== -->
@section Scripts{
    <script src="~/Customer/js/checkout.js"></script>
    <script>
        $('#submit').on('click', function () {
            console.log('submit');
            $('#submit').attr('href', '/Movie/PaypalCheckout/?code=' + $('#code-discount').val())

        });
    </script>

}
@section Header{
    <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
}