@model OnlineMoviesBooking.Models.ViewModels.BillViewModel;
@{
    ViewData["Title"] = "SeatPlan";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<!-- ==========Banner-Section========== -->
<section class="details-banner hero-area bg_img seat-plan-banner" data-background="./assets/images/banner/banner04.jpg" style="background-image: url(&quot;./assets/images/banner/banner04.jpg&quot;);">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-content style-two">
               
                <h3 class="title">@ViewBag.MovieName</h3>
                <div class="tags">
                    <a>@ViewBag.ScreenName</a>
                    <a>English - 2D</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Page-Title========== -->
<section class="page-title bg-one" style="margin-bottom: 2rem;">
    <div class="container" style=" place-content: center; display: flex;">
        <div class="page-title-area">
            <div class="item">
                <h5 class="date">@ViewBag.TimeStart</h5>
                <p style="padding: 0.5rem;">@ViewBag.Date</p>
            </div>
            
        </div>
    </div>
</section>
<!-- ==========Page-Title========== -->
<!-- ==========Movie-Section========== -->
<div class="seat-plan-section padding-bottom ">
    <form asp-action="Create" >
        @Html.AntiForgeryToken()
        <div id="price" hidden>
            <input name="type-1" class="type-1" hidden />
            <input name="type-2" class="type-2" hidden />
            <input name="type_3" class="type-3" hidden />
            <input id="idmovie" value="@ViewBag.IdShow" hidden/>
            <input id="lstSeat" asp-for="Model.IdSeat" hidden/>
        </div>
        <div class="container">
            <div class="screen-area">
                <h4 class="screen">screen</h4>
                <div class="screen-thumb">
                    <img src="~/Customer/logo/screen-thumb.png" alt="movie">
                </div>
                <h5 class="subtitle" style="font-size: 20px;">ghế thường</h5>
                <div class="screen-wrapper">
                    <ul class="seat-area">
                        <li class="seat-line">
                            <ul class="seat--area">
                                <span>A</span>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 0; i < 4; i++)
                                        {
                                            @if (ViewBag.RowA[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowA[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }


                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 4; i < 10; i++)
                                        {
                                            @if (ViewBag.RowA[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowA[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 10; i < 14; i++)
                                        {
                                            @if (ViewBag.RowA[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowA[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <span>A</span>
                            </ul>

                        </li>
                        <li class="seat-line">
                            <ul class="seat--area">
                                <span>B</span>

                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 0; i < 4; i++)
                                        {
                                            @if (ViewBag.RowB[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowB[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }


                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 4; i < 10; i++)
                                        {
                                            @if (ViewBag.RowB[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowB[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 10; i < 14; i++)
                                        {
                                            @if (ViewBag.RowB[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowB[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <span>b</span>
                            </ul>

                        </li>
                    </ul>
                </div>
                <h5 class="subtitle" style="font-size: 20px;">ghế vip</h5>
                <div class="screen-wrapper">
                    <ul class="seat-area">
                        <li class="seat-line">
                            <ul class="seat--area">
                                <span>C</span>

                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 0; i < 4; i++)
                                        {
                                            @if (ViewBag.RowC[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowC[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }


                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 4; i < 10; i++)
                                        {
                                            @if (ViewBag.RowC[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowC[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 10; i < 14; i++)
                                        {
                                            @if (ViewBag.RowC[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowC[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <span>C</span>
                            </ul>

                        </li>
                        <li class="seat-line">
                            <ul class="seat--area">
                                <span>D</span>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 0; i < 4; i++)
                                        {
                                            @if (ViewBag.RowD[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="ViewBag.RowD[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }


                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 4; i < 10; i++)
                                        {
                                            @if (ViewBag.RowD[i].Status == "")
                                            {
                                        <li class="single-seat seat-free">
                                            <input asp-for="Modes.IdSeat" value="@ViewBag.RowD[i].Id" hidden />
                                            <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                            <span class="sit-num"></span>
                                        </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 10; i < 14; i++)
                                        {
                                            @if (ViewBag.RowD[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowD[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <span>D</span>
                            </ul>

                        </li>
                        <li class="seat-line">
                            <ul class="seat--area">
                                <span>E</span>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 0; i < 4; i++)
                                        {
                                            @if (ViewBag.RowE[i].Status == "")
                                            {
                                        <li class="single-seat seat-free">
                                            <input asp-for="Modes.IdSeat" value="@ViewBag.RowE[i].Id" hidden />
                                            <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                            <span class="sit-num"></span>
                                        </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }


                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 4; i < 10; i++)
                                        {
                                            @if (ViewBag.RowE[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowE[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 10; i < 14; i++)
                                        {
                                            @if (ViewBag.RowE[i].Status == "")
                                            {
                                        <li class="single-seat seat-free">
                                            <input asp-for="Modes.IdSeat" value="@ViewBag.RowE[i].Id" hidden />
                                            <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                            <span class="sit-num"></span>
                                        </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <span>E</span>
                            </ul>

                        </li>
                        <li class="seat-line">
                            <ul class="seat--area">
                                <span>F</span>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 0; i < 4; i++)
                                        {
                                            @if (ViewBag.RowF[i].Status == "")
                                            {
                                        <li class="single-seat seat-free">
                                            <input asp-for="Modes.IdSeat" value="@ViewBag.RowF[i].Id" hidden />
                                            <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                            <span class="sit-num"></span>
                                        </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }


                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 4; i < 10; i++)
                                        {
                                            @if (ViewBag.RowF[i].Status == "")
                                            {
                                                <li class="single-seat seat-free">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowF[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <input asp-for="IdSeat" hidden />
                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 10; i < 14; i++)
                                        {
                                            @if (ViewBag.RowF[i].Status == "")
                                            {
                                        <li class="single-seat seat-free">
                                            <input asp-for="Modes.IdSeat" value="@ViewBag.RowF[i].Id" hidden />
                                            <img src="~/Customer/logo/seat01-free.png" alt="seat">
                                            <span class="sit-num"></span>
                                        </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">

                                                    <img src="~/Customer/logo/seat01.png" alt="seat">
                                                    <input asp-for="IdSeat" hidden />
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <span>F</span>
                            </ul>

                        </li>
                    </ul>
                </div>
                <h5 class="subtitle" style="font-size: 20px;">ghế đôi</h5>
                <div class="screen-wrapper">
                    <ul class="seat-area couple">
                        <li class="seat-line">

                            <ul class="seat--area">
                                <span>G</span>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 0; i < 2; i++)
                                        {
                                            @if (ViewBag.RowG[i].Status == "")
                                            {
                                                <li class="single-seat seat-free-two">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowG[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat02-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">

                                                    <img src="~/Customer/logo/seat02.png" alt="seat">
                                                    <input asp-for="IdSeat" hidden />
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 2; i < 5; i++)
                                        {
                                            @if (ViewBag.RowG[i].Status == "")
                                            {
                                                <li class="single-seat seat-free-two">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowG[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat02-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">
                                                    <img src="~/Customer/logo/seat02.png" alt="seat">
                                                    <input asp-for="IdSeat" hidden />
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 5; i < 7; i++)
                                        {
                                            @if (ViewBag.RowG[i].Status == "")
                                            {
                                                <li class="single-seat seat-free-two">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowG[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat02-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">

                                                    <img src="~/Customer/logo/seat02.png" alt="seat">
                                                    <input asp-for="IdSeat" hidden />
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <span>G</span>
                            </ul>

                        </li>
                        <li class="seat-line">

                            <ul class="seat--area">
                                <span>H</span>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 0; i < 2; i++)
                                        {
                                            @if (ViewBag.RowH[i].Status == "")
                                            {
                                                <li class="single-seat seat-free-two">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowH[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat02-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">

                                                    <img src="~/Customer/logo/seat02.png" alt="seat">
                                                    <input asp-for="IdSeat" hidden />
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 2; i < 5; i++)
                                        {
                                            @if (ViewBag.RowH[i].Status == "")
                                            {
                                                <li class="single-seat seat-free-two">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowH[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat02-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">

                                                    <img src="~/Customer/logo/seat02.png" alt="seat">
                                                    <input asp-for="IdSeat" hidden />
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        @for (int i = 5; i < 7; i++)
                                        {
                                            @if (ViewBag.RowH[i].Status == "")
                                            {
                                                <li class="single-seat seat-free-two">
                                                    <input asp-for="Modes.IdSeat" value="@ViewBag.RowH[i].Id" hidden />
                                                    <img src="~/Customer/logo/seat02-free.png" alt="seat">
                                                    <span class="sit-num"></span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="single-seat">

                                                    <img src="~/Customer/logo/seat02.png" alt="seat">
                                                    <input asp-for="IdSeat" hidden />
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                                <span>H</span>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="proceed-book bg_img" data-background="./assets/images/movie/movie-bg-proceed.jpg" style="background-image: url(&quot;./assets/images/movie/movie-bg-proceed.jpg&quot;);">
                <div class="proceed-to-book">
                    <div class="book-item">
                        <span>Ghế đã chọn</span>
                        <h3 id="choosed-seat" class="title" style=" max-width: 400px;"></h3>
                    </div>
                    <div class="book-item">
                        <span>Tổng tiền</span>
                        <h3 class="title" id="total-price">0 </h3>
                    </div>
                    <div class="book-item">
                        <a id="submit" class="custom-button">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- ==========Movie-Section========== -->

@section Scripts{

    <script src="~/Customer/js/seatplan.js"></script>
}
@section Header{
    <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
}