@using OnlineMoviesBooking.Models.Models;
@{
    Layout = "_LayoutLogin";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @*<link href="~/Template/css/all.min.css" rel="stylesheet" />*@
    <link href="~/Template/css/animate.css" rel="stylesheet" />
    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Template/css/flaticon.css" rel="stylesheet" />
    <link href="~/Template/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Template/css/main.css" rel="stylesheet" />
    <link href="~/Template/css/nice-select.css" rel="stylesheet" />
    <link href="~/Template/css/odometer.css" rel="stylesheet" />
    <link href="~/Template/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Template/css/owl.theme.default.min.css" rel="stylesheet" />
</head>
<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#0" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->
 
    <!-- ==========Movie-Section========== -->

    <section class="movie-section padding-top padding-bottom">
        <div class="container">
            <div class="tab">
                <div class="section-header-2">
                    <div class="left">
                        <h2 class="title">PHIM</h2>
                        
                    </div>
                    <ul class="tab-menu">
                        <li class="active">
                            phim đang chiếu
                        </li>
                        <li>
                            phim sắp chiếu
                        </li>
                    </ul>
                </div>
                <div class="tab-area mb-30-none">
                    <div class="tab-item active">
                        <div class="owl-carousel owl-theme tab-slider">
                            @foreach (var item in ViewBag.Movie)
                            {
                                <div class="item">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="/Movie/Detail/@item.Id">
                                                <img src="@item.Poster" alt="movie">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one" style="height:10rem">
                                            <h5 class="title m-0">
                                                <a href="/Movie/Detail/@item.Id" style="font-size:large">@item.Name</a>
                                            </h5>
                                            <ul class="movie-rating-percent">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="~/assets/images/movie/tomato.png" alt="movie">
                                                    </div>
                                                    <span class="content">@item.ReleaseDate</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ==========Movie-Section========== -->
    <!-- ==========discount-Section========== -->

    <section class="movie-section padding-top padding-bottom">
        <div class="container">
            <div class="tab">
                <div class="section-header-2">
                    <div class="left">
                        <h2 class="title">Khuyến mãi</h2>
                        
                    </div>
                    
                </div>
                <div class="tab-area mb-30-none">
                    <div class="tab-item active">
                        <div class="owl-carousel owl-theme tab-slider">
                            @{
                                List<Discount> listdiscount = ViewBag.listDiscount;
                                if (listdiscount != null)
                                {
                                    foreach (var item in listdiscount)
                                    {
                                        <div class="item">
                                            <div class="movie-grid">
                                                <div class="movie-thumb c-thumb">
                                                    <a href="#0">
                                                        <img src="@item.ImageDiscount" alt="movie">
                                                    </a>
                                                </div>
                                                <div class="movie-content bg-one">
                                                    <h5 class="title m-0">
                                                        <a href="#0">@item.Name</a>
                                                    </h5>
                                                    <ul class="movie-rating-percent">
                                                        <li>
                                                            <span class="content" style="font-size:25px">Mã: @item.Id</span>
                                                        </li>
                                                        <br />
                                                        <li>

                                                            <span class="content">
                                                                Giảm @item.PercentDiscount.ToString()% Giảm tối đa @item.MaxCost.ToString() <br />

                                                            </span>
                                                        </li>
                                                        <br />
                                                        <li>
                                                            <span class="content" style="font-size:12px">
                                                                HSD: @item.DateEnd.Value.ToShortDateString()
                                                            </span>

                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            }


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ==========discount-Section========== -->
    @{

        if (TempData["msg"] != null)
        {
            string msg = TempData["msg"].ToString();
            <script>
                alert('@msg')
            </script>
        }
    }
    <script src="~/Template/js/jquery-3.3.1.min.js"></script>
    <script src="~/Template/js/plugins.js"></script>
    <script src="~/Template/js/isotope.pkgd.min.js"></script>
    <script src="~/Template/js/magnific-popup.min.js"></script>
    <script src="~/Template/js/owl.carousel.min.js"></script>
    <script src="~/Template/js/wow.min.js"></script>
    <script src="~/Template/js/countdown.min.js"></script>
    <script src="~/Template/js/viewport.jquery.js"></script>
    <script src="~/Template/js/nice-select.js"></script>
    <script src="~/Template/js/main.js"></script>

</body>
</html>